.dashboard-form {
    background-color: #fff;
    padding: 30px 20px;
    margin: auto;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  }
  
  .dashboard-form input, 
  .dashboard-form select {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .chart-container {
    margin-top: 20px;
  }
  
  .chart {
    border: 1px solid #ddd;
    margin: 0 auto;
  }
  
  .score-display {
    font-size: 32px;
    background: linear-gradient(to right, #f953c6, #b91d73);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }